.header{
  .navbar{
    background: #ED1C22
  }
  img{
    height: 1.2rem;
  }
}
.view-height-bg {
  height: calc(100vh - 64px);
  background: url('https://www.rimac.com.pe/img/bg-inner-products.png')
}
.view-height {
  height: calc(100vh);
}