$break-xsmall: 320px;
$break-small: 576px;
$break-mediun: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

  @media (min-width: #{$break-xsmall}) {
    body{
      background-color: #f6f4f2 !important;
    }
    .header{
      img{
        height: 1.2rem;
      }
    }
    .view-height-bg {
      padding-top: 4rem;
      height: 100vh;
      background: url('https://www.rimac.com.pe/img/bg-inner-products.png');
      background-repeat: no-repeat;
      background-size: auto 100vh;
    }
    .view-auto {
      height: 100%;
      padding-bottom: 5rem;
    }
    .index{
      font-size: 1.5rem;
      font-weight: bolder;
    }
    .title{
      font-size: 1.5rem;
    }
    .subtitle{
      font-size: 2rem;
    }
    
    .container-img{
      img{
        margin: 2rem 0;
        width: 100%;
      }
    }
    
    .container-btn{
      .btn-default{
        background-color: #84bd00 !important;
        border-radius: 1.5rem;
      }
    }
    
    .Ripple-parent{
      img{
        margin: .5rem auto;
      }
    }
    .bg-rimac{
      background: #ED1C22
    }
    .radius{
      // border-radius: 50%; 
      padding: 0 !important;
      width: 2rem;
      height: 2rem;
      i{
        font-size: 1.6rem !important;
        padding: .3rem;
      }
    }
    .container-btn-footer{
      text-align: center;
    }
    .bg-orange{
      background: #ED1C22 !important;
      color: #fff !important;
    }
    .card-cascade{
      background: transparent !important;
      height: 100%;
    }
    .container-card{
      .card{
        height: 100%;
        h3{
          background: url('https://www.rimac.com.pe/assets/vehicular/images/bg-planes.png') !important;
          height: 100%;
        }
      }
      height: 100%;
      margin: 1rem;
      
    }
    .benefit{
      padding: 1rem;
      .card{
        padding: 1rem;
        background: transparent;
      }
      .benefit-img{
        width: 4.2rem
      }
      .benefit-text{
        h4{
          font-weight: bolder;
        }
        p{
          font-size: 1rem;
        }
      }
    }
    ._2Nde-b7zBqxE2c-pX-RLQr{
      height: 320px;
    }
    .container-quotation{
      p{
        font-size: 1.2rem;
      }
      .container-img{
        text-align: center;
        img{
        width: 5rem;
        }
      }
    }
    .banner{
      padding: 4rem 1rem;
      margin: 1rem !important;
      .card{
        text-align: center;
      }
      p{
        font-size: 1.1rem;
      }
      .card-text{
        width: 50%;
        margin: .5rem auto;
      }
    }
    .price-container{
      text-align: center;
      width: 100%;
      .month-price{
        color: #84bd00;
        font-weight: bolder;
        font-size: 3rem;
      }
      .btn-buy{
        background-color: #84bd00 !important;
      }
      .btn-outline-default{
        border: 2px solid #84bd00 !important;
        color: #84bd00 !important;
      }

      // .background-img {
      //   background-image: 
      // }
    }
    .price-buy{
      color: #84bd00;
      font-size: 2rem;
    }
    .row .FormClient {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
   
    .container .md-form {
      position: relative;
       margin: 0px;
   }
   
   .form-control{
      margin: 40px 0px;
   }
   
   .md-form .validate {
      margin: 15px 0px;
   }
   .stepper{
     margin-top: 50px;
   }
   .card{
     margin-top: 20px;
   }
   .stepper .text-center{
     margin: 0 !important;
   }
    .col{
     margin: 0 !important;
   }
    .testimonies.card{
      width: 100%;
    }
  }


  @media (min-width: #{$break-large}) {
    body{
      p {
        font-size: 1.5rem;
      }
    }
    .header{
      img{
        height: 1.5rem;
      }
    }
    .index{
      font-size: 1.5rem;
    }
    .title{
      font-size: 2.5rem;
    }
    .subtitle{
      font-size: 3rem;
    }
    .card-text{
      font-size: 1rem !important;
    }
    .stepper{
      margin-top: 74px;
    }
  }

